<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>socket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>719837C41CBB518A009D6CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>719837DD1CBB518A009D6CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>719837E81CBB518A009D6CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
